<%= form_for [project, translation], :html => { :class => "form-horizontal" } do |t| %>
  	<div class="control-group">
		<%= t.label :language, "Language", :class => "control-label" %>
	    <div class="controls">
      		<%= t.select :language_id, languages %>
	    </div>
  	</div>

  	<div class="control-group">
		<%= t.label :users, "Users", :class => "control-label" %>
	    <div class="controls">
      		<%= t.select :user_ids, users, {}, { :multiple => true, :size => 5 } %>
	    </div>
  	</div>

  	<div class="form-actions">
  		<%= t.submit "Save", :class => "btn btn-primary" %>
  		<%= link_to "Cancel", cancel_path, :class => "btn" %>
	</div>
<% end %>