<div class="page-header page-header-projects">
    <div class="right-buttons-header">
        <%= link_to "Edit", edit_project_path(@project), :class => "btn" %>
        <button type="button" data-toggle="modal" data-target="#modal_confirm_delete" class="btn btn-danger">Delete</button>
    </div>
    <h1><%= @project.name %></h1>
</div>

<ul class="breadcrumb">
    <li><%= link_to "Projects", projects_path %> <span class="divider">/</span></li>
  <li class="active"><%= @project.name %></li>
</ul>

<%= render :partial => "common/alerts" %>

<ul class="nav nav-tabs" id="project-tabs">
    <li class="active"><a href="#languages">Translations</a></li>
    <li><a href="#files">Files</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="languages">
        <div class="right-buttons">
            <%= link_to "Add new translation", new_project_translation_path(@project), :class => "btn" %>
        </div>
        <table class="table table-languages">
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Progress</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% @project.translations.each do |translation| %>
                    <tr>
                        <td>
                            <%= link_to translation.language.name, project_translation_path(@project, translation) %>
                        <td>
                            <a href="#">
                                <div class="progress-container">
                                    <div class="progress">
                                        <div class="bar" style="width: 60%;"></div>
                                    </div>
                                </div>

                                60/100 strings
                            </a>                          
                        </td>
                        <td>
                            <a href="#">
                                <span class="label label-success">status</span>
                            </a>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="files">
        <div class="right-buttons">
            <%= link_to "Pull", action_project_path(@project, "pull"), :class => "btn btn-primary" %>
            <%= link_to "Push", action_project_path(@project, "push"), :class => "btn btn-info" %>
            <%= link_to "Add new files", addfiles_project_path(@project), :class => "btn" %>
        </div>
        <table class="table table-files">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Progress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @project.sources.each do |source| %>
                    <tr>
                        <td><%= source.file_path %></td>
                        <td>
                            <div class="progress-container">
                                <div class="progress">
                                    <div class="bar" style="width: 60%;"></div>
                                </div>
                            </div>

                            60/100 strings
                        </td>
                        <td class="cell-link">
                            <a href="#">
                                <i class="icon-remove"></i> Delete
                            </a>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => "common/simple_modal", :locals => {
        :modal_id => "modal_confirm_delete",
        :title => "Confirm deletion",
        :message => "Are you sure that you want to delete this project? This action can't be undone.",
        :button => link_to("Confirm deletion", @project, :method => :delete, :class => "btn btn-danger")
    } %>
