<!DOCTYPE html>
<html>
<head>
    <title>Traduco</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Traduco</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li <%= raw 'class="active"' if @tab == :projects %>>
                            <%= link_to "Projects", projects_path %>
                        </li>
                        <li <%= raw 'class="active"' if @tab == :users %>>
                            <%= link_to "Users", users_path %>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <div class="maindiv">

            <%= yield %>

        </div>

        <hr>

        <footer>
            <p>Klaim &copy; 2012</p>
        </footer>

    </div> <!-- /container -->

</body>
</html>
